https://www.youtube.com/watch?v=il8dMDlXrIE

In [1]:
import numpy as np
import pandas as pd
from pycaret.classification import *
from PIL import Image
import os
from sklearn.model_selection import train_test_split

In [41]:
input_dir = 'num_data'
categories = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

data = []
labels = []

for category_idx, category in enumerate(categories):
    for file in os.listdir(os.path.join(input_dir, category)):
        img_path = os.path.join(input_dir, category, file)
        img = Image.open(img_path)
        img = img.resize((28, 28))
        img = np.array(img).flatten()
        data.append(img)
        labels.append(category_idx)

data = np.asarray(data)
labels = np.asarray(labels)

In [18]:
df = pd.DataFrame(data)
df['labels'] = labels
df.head()

,0,1,2,3,4,5,6,7,8,9,...,2343,2344,2345,2346,2347,2348,2349,2350,2351,labels
0,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,0
1,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,0
2,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,0
3,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,0
4,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,0

In [19]:
s = setup(df, target = 'labels')

In [28]:
exp = ClassificationExperiment()
exp.setup(df, target = 'labels', session_id = 123)

In [31]:
best = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .              19:40:10
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

In [25]:
exp.compare_models()

Initiated  . . . . . . . . . . . . . . . . . .              19:39:43
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

[]

sklearn

In [3]:
x_train, x_test, y_train, y_test = train_test_split(data, labels, test_size=0.2, random_state=42, stratify=labels)

In [10]:
from sklearn.neural_network import MLPClassifier
NN = MLPClassifier(max_iter=100)
NN.fit(x_train, y_train)
y_pred = NN.predict(x_test)

In [17]:
from sklearn.metrics import accuracy_score, classification_report

accuracy = accuracy_score(y_test,y_pred)*100
print("Accuracy for Neural Network is:",accuracy)
print(classification_report(y_test, y_pred))

Accuracy for Neural Network is: 10.0
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       0.00      0.00      0.00         1
           2       0.00      0.00      0.00         1
           3       0.00      0.00      0.00         1
           4       0.00      0.00      0.00         1
           5       0.00      0.00      0.00         1
           6       0.00      0.00      0.00         1
           7       0.50      1.00      0.67         1
           8       0.00      0.00      0.00         1
           9       0.00      0.00      0.00         1

    accuracy                           0.10        10
   macro avg       0.05      0.10      0.07        10
weighted avg       0.05      0.10      0.07        10